.brands img {
    height: 40px;
    cursor: pointer;
}

.brands img:hover {
    opacity: 50%;
}

@media (max-width: 962px) {
    .brands img {
        height: 30px;
    }
}

@media (max-width: 768px) {
    .brands img {
        height: 20px;
    }
}